

@font-face { font-family: steamgems; src: url('Fonts/steamGems.ttf'); }
@font-face { font-family: oldkirk; src: url('Fonts/oldkirk.ttf') format('truetype');}
@font-face { font-family: oldkirk; src: url('Fonts/oldkirkItalic.ttf'); font-style: italic; }
@font-face { font-family: inigo; src: url('Fonts/inigo.ttf'); }
@font-face { font-family: steamnewscuts; src: url('Fonts/steamNewsCuts_3.ttf'); }
@font-face { font-family: monboddo; src: url('Fonts/monboddo.ttf'); }

@font-face { font-family: jophet; src: url('Fonts/jophet.ttf'); }
@font-face { font-family: gresley; src: url('Fonts/gresley.ttf'); }
@font-face { font-family: pennyfarthing; src: url('Fonts/pennyfarthing.ttf'); }
@font-face { font-family: hiram; src: url('Fonts/hiram.ttf'); }
@font-face { font-family: tilson; src: url('Fonts/tilsonInitials.ttf'); }
@font-face { font-family: dewitt; src: url('Fonts/dewitt.ttf'); }
@font-face { font-family: braham; src: url('Fonts/braham.ttf'); }
@font-face { font-family: medola; src: url('Fonts/medola.ttf'); }
@font-face { font-family: brunelscript; src: url('Fonts/brunelScript.ttf'); }
@font-face { font-family: pomeroy; src: url('Fonts/pomeroy.ttf'); }


:root {
  --bg-color:   #dbcaaf;
  /* others: 
  #dbcaaf
  #E0CDB8
  #E9D6BE xx
  #F7E7CE
  #FAEBD7
  oldbg:#D7C6B1
  */

  --text-color: #363232;
  /*393027
  33333c*/
}

body {
  background-color: var(--bg-color);
  background-image: url('images/paper-texture.jpg');
  background-repeat: repeat;
  background-size: auto;
  background-position: top left;
  background-attachment: scroll;
 
  font-family: oldkirk;
  color: var(--text-color);
  display: flex;
  flex-direction: column;
 
  
}


h1 { font-family: oldkirk; }

p {
  font-family: oldkirk;
  font-size: 17px;
  line-height: 20px;
}

a {
  color: inherit;
  text-decoration: none;
}

.white {
  color: var(--text-color);
  background-color: var(--bg-color);
  margin: 0;
}

header {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  
  margin-bottom:5px;
}


.gem {
  font-family:steamgems;
  font-size:30px;
 position: relative;
  top: -2px;  /* adjust value as needed */
  display: inline-block;
  
}

.notes {
  font-family: oldkirk;
  font-style:italic;
  font-size: 1.4vw;
  margin-bottom: 8px;
}

.price-line {
  display: flex;
  width: 90%;
  font-size: 16px;
  justify-content: space-between;
}

.dotted-line {
  width: 65%;
  border-bottom: 3px dotted var(--text-color);
  margin: auto;
}

@media (max-width: 768px) {
  .notes { font-size: 4vw; }
  .price-line { font-size: 4vw; }
}

/* Manifesto */
.column-3 {
  flex: 2.6;
  text-align: justify;
  padding: 20px;
}

.column-3_footnotes {
  flex: 0.4;
 
  padding: 20px;
  margin-top: 100px;
}

.column-3_footnotes p {
  font-family: oldkirk;
  font-style:italic;
  font-size: 0.9rem;
  line-height: 1rem;
  margin-top: 80px;
  
}

.flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 10px;
}

.content {
  display: flex;
  flex-direction: row;
}

.left-margin { width:7.5%}

.products-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width:57%
}

.products-header {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  font-size: 1.6vw;
  padding:15px;
}

.products-columns-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  height: 100%;
}

.products-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:  flex-start;
  flex:1;
  width: 10%;
  padding-top: 0px;
}



.product-flexbox {
  display: flex;
  flex-direction: column;
  
  text-align: center;
  text-decoration: none;
  color: inherit;
  width: 90%;
  
  margin-top: 5%;
  margin-bottom: 5%;
}

.product-flexbox img {
  display: block;   
  width: 90%;       
  margin: 0 auto;  
  border: 5px double var(--text-color); box-sizing: border-box;  
}



.product-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 10px;
  margin: 5px;
}

.manifesto-container {}

.manifesto-body {}

.footnotes {}

.footer {
  background-color: var(--bg-color);
  text-align: center;
  color: var(--text-color);
}

.horizontal-line {
  width: 100%;
  border-top: 2px solid var(--text-color);
}

.vdivider {
  height: auto;
  width: 2px;
  
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 7.5px;
  margin-right: 7.5px;
  background-color: var(--text-color);
}

.drop-cap img {
  float:left;
  width: 55px; 
  margin-top:3px;
  height: auto;
  margin-right: 5px; 
   
}

.drop-cap::first-letter {
  float: left;
  
  font-size: 2.8em; 
  line-height: 1;
  margin-right: 0.07em;
  margin-top: 0.1em;
  
}

.for { text-align: center; }

.fougere-icon {
  font-size: 5.7vw;
  font-family: steamgems;
  margin-bottom: 8px;
  margin-right: 50px;
}

.fougere-text {
  font-size: 3vw;
  font-family: pennyfarthing;
  margin-left:50px;
}

@media (max-width: 768px) {
  .fougere-icon { display: none; }
  .fougere-text { font-size: 8vw; margin: 0px; }
}


.ambercot-title-text {display: flex; flex-direction: column; justify-content: center; align-items: center;
margin-bottom:-8px;  }

.ambercot-icon{ font-family: steamgems;
  font-size: 4vw; height:2.6vw;
  }
.ambercot-text{font-family: monboddo;
  font-size: 4.5vw;}

  @media (max-width: 768px) {
    .ambercot-title-text { flex-direction: row; margin:-1px; }
    .ambercot-icon{ 
      font-size: 10vw; height:13vw;
      }
      .ambercot-text{font-family: monboddo;
        font-size: 12vw;}
    
  }

.fallen-icon {
  font-family: steamgems;
  font-size: 4vw;
  margin-left: 50px;
}

.fallen-text {
  font-family: inigo;
  font-size: 3vw;
  margin-right: 50px;
  line-height:2.8vw;
}

@media (max-width: 768px) {
  .fallen-icon {
    font-size: 7vw;
    margin-left: 0;
    margin-right: 5px;
    margin-bottom:5px;
  }
  .fallen-text {
    font-family: inigo;
    font-size: 7vw;
    margin-right: 0px;
    line-height:6vw;
    margin-bottom:5px;
  }
}

.d-set-icon{font-family: steamgems; font-size:2.4vw; }
.d-set-text{font-family: medola; font-size:2.6vw; }
@media (max-width: 768px) {
  .d-set-icon{font-size:6vw}
  .d-set-text{font-size:8vw}
}

  
/* Responsive layout for small screens */
@media (max-width: 900px) {
  .products-container {
    width: 40%;
    flex-direction: column;
  }
  .products-columns-container {
    flex-direction: column;
  }
  .products-column {
    width: 100%;
  }
  .products-header { font-size: 1.3vw; }
  .fougere-icon { display: none; }
}

@media (max-width: 768px) {
  .content,
  .products-container,
  .manifesto-container,
  .products-columns-container {
    flex-direction: column;
  }

  .products-container,
  .products-column,
  .manifesto-body,
  .footnotes {
    width: 100%;
    
  }

  .vdivider,
  .left-margin,
  .products-header,
  .horizontal-line {
    display: none;
  }

  .fougere { font-size: 4vmax; }

  .column-3_footnotes p { margin-top: 0; }

}



  /* --- PRODUCT PAGE STYLES --- */
  

    .product-layout {
      display: flex;
      flex-wrap: wrap;
      gap: 30px;
      margin: auto;
      padding: 0 50px;
      max-width: 1000px;
      justify-content: center;
      
    }

    .product-page-leftcolumn {
      flex: 1 1 40%;
      height: 90vh;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .product-page-rightcolumn {
      flex: 1 1 30%;
    }

    .product-page-leftcolumn img {
      width: 100%;
      height: auto;
      display: block;
    }

    .product-title-block {
      text-align: center;
      margin-bottom: 1em;
    }

    .product-name {
      margin-bottom: 0.3em;
      font-family: oldkirk;
      font-style:italic;
      font-size: 35px;
      text-align:center;
    }

    .product-fnotes {
      font-family: oldkirk;
      font-style:italic;
      margin-top: 0;
      margin-bottom: 1em;
    }

    .product-key-ingredients{
      text-align: center;
      font-size: 1em;
    }
    .product-inspiration {
      text-align: center;
      font-size: 0.95em;
    }

    .product-description {
      text-align: justify;
    }

    .divider {
      margin: 1.5em auto;
      border-top: 1px solid #a89b84;
      width: 60%;
    }

    .shopify-button-wrapper {
      margin: 0 auto;
      text-align: center;
    }

    @media (max-width: 800px) {
      .product-layout {
        flex-direction: column;
        gap:0px;
        margin-top:10vw;
      }
      .product-page-leftcolumn,
      .product-page-rightcolumn {
        flex: 1 1 100%;
        max-width: 100%;
      }
    }
/* END PRODUCT PAGE STYLES */

/* LANDING PAGE STYLES */
.button {
      text-align: center;
    }

    .button a {
      background: var(--text-color);
      color: var(--bg-color);
      padding: 14px 28px;
      text-decoration: none;
      font-size: 1rem;
      text-transform: uppercase;
      letter-spacing: 1px;
      border-radius: 4px;
    }